.aside-menu-overlay {
  transition: var(--transition);
  
  &::before {
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgba($color: #000000, $alpha: 0.8);
    position: fixed;
    z-index: 998;
    
  }
  &.open::before {
    width: 100%;
    
  }
}

.aside-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 0px;
  height: 100%;
  background-color: var(--black);
  transition: var(--transition);
  z-index: 999;
  .aside-wrapper {
    margin-top: 30px;
    padding: 0px 30px;
    .logo-main {
      .logo-text {
        color: var(--white);
      }
    }
    .aside-logo-close {
      i {
        color: var(--white);
        line-height: unset;
        font-size: 30px;
        cursor: pointer;
        
      }
    }
  }
  .aside-menu-content {
    ul {
      padding: 0px 20px;
      list-style: none;
      li {
        a {
          padding: 10px 10px;
          text-decoration: none;
          color: var(--white);
          font-weight: 500;
          i {
            font-size: 18px;
            line-height: unset;
          }
          &:hover {
            background-color: var(--secondary);
          }
        }
      }
      .aside-submenu {
        max-height: 0px;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        &.open {
          max-height: 300px;
          opacity: 1;
        }
      }
    }
  }
  &.open {
    width: 350px;
  }
}
