.global-access-main{
    
    .global-access-card{
        margin-top: 60px;
        padding: 40px;
        background-color: var(--white);
        border-radius: 20px;
        
        .global-logo{
            height: 80px;
            width: 80px;
            border-radius: 50%;
            background-color: var(--primary);
            transition: var(--transition);
        }
        .global-logo-text{
            h2{
                -webkit-text-stroke: 1px #2C3347;
                color: transparent;
            }
        }
        .global-card-heading{
            margin-top: 30px;
            margin-bottom: 20px;
            h3{
                font-weight: bold;
            }

        }
        &:hover{
            .global-logo{
                background-color: var(--secondary);
            }
        }
    }
}