.header-main {
  width: 1290px;
  padding: 24px 0px;
  margin: 0 auto;
  box-shadow: var(--shadow);
  border-radius: 999px;
  .logo-main {
    padding-left: 30px;
    .logo-text {
      span {
        font-size: 30px;
        font-weight: 700;
        padding-left: 5px;
      }
    }
  }
  .nav-main {
    ul {
      list-style: none;
      margin-bottom: 0;
      padding: 0;
      margin-right: 170px;
      gap: 25px;
      li {
        a {
          text-decoration: none;
          color: var(--black);
          font-weight: 500;
        }
      }
    }
  }
  .search-main {
    margin-left: 10px;
    .search-box {
      margin-right: 35px;
      position: relative;
      i {
        font-size: 20px;
        font-weight: bold;
        line-height: unset;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: -25px;
          width: 2px;
          height: 100%;
          background-color: var(--black);
        }
      }
    }
    .aside-menu{
        a{
            margin-left: 25px;
        }
    }
  }
}
