.dream-section {
  max-width: 1730px;
  background-color: var(--primary);
  border-radius: 30px;
  margin: 0 auto;
  padding: 120px 220px;
  .dream-text {
    p {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
  .dream-list {
    margin-bottom: 20px;
    ul {
      background-color: var(--white);
      border-radius: 30px;
      padding: 30px 40px;

      li {
        margin-bottom: 40px;
        position: relative;
        .dream-logo {
          padding: 15px;
          border-radius: 50%;
          background-color: var(--primary);
          height: 60px;
          max-width: 60px;
          margin-right: 18px;
          img {
            height: 30px;
            width: 30px;
          }
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -20px;
          right: 0;
          height: 1px;
          width: 100%;
          background-color: var(--separator);
        }
        &:nth-last-child(1) {
          margin-bottom: 0px;
          &::after {
            height: 0px;
          }
        }
      }
    }
  }
  .dream-img {
    background-color: var(--white);
    padding: 30px;
    border-radius: 30px;
    position: relative;
    margin-left: 15px;
    .dream-main-img{
        max-width: 300px;
    }
    .dream-img-two {
      position: absolute;
      bottom: 50px;
      right: 30px;
    }
  }
}
